*.pyc
*.mp4
*.gif
*.png
*.tga
*.jpg
*.uasset
*.lock

*.mp4
*.gif
*.png
*.jpg
*.uasset
*.sln
*.vcxproj
*.vcxproj.*
*.idb
*.obj
*.log
*.tlog
*.pdb
*.ilk
*.vs
imgui.ini
Pipfile
2020/5/a323edSvdsa/.idea/.idea.a323edSvdsa.dir/.idea/
2020/5/a323edSvdsa/.idea/
